{% extends "main.html" %}
<!DOCTYPE html>
<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
 <h1>Catalog App</h1>
 <p align="right">
 <button class="login-button" type="button" class="btn btn-primary btn-lg">
		<a href={{url_for('showLogin')}}>Login</a>
            </button>
</P>
</header>

<section>
<div id = "wrap">
<div class ="left">
<h2>Categories</h2>

{% for i in showcategory %}

<div>
  <p> <a href={{url_for('showCategoryitems',name = i.name )}}>{{i.name}}</a></p>
  
</div>
{% endfor %}

</div>
<!--<div class="vr">&nbsp;</div>-->

<div class = "right">
<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newItem')}}">
				<button class="btn btn-default" id="new-item">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add item
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
<h2>Latest Items</h2>
	{% for i in showlatestitems %}
<div>
  <p> {{i.title}}  <font color="gray"><small><i>({{i.name}})</i></small></font></p>
  
</div>
{% endfor %}
</div>
</section>

</body>
</html>