
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">

</head>
<body>
<div class="new-item-page">
<h1>Add Your Item</h1>
<form action="{{url_for('newRecipe',category_id=category_id, user_id=user_id)}}" method='POST'>
    <p>Title:</p>
    <input class="add-item-title" type='text' size='30' name='title' value="{{items.title }}">
    <p>Description:</p>
    <textarea class="add-item-description" name="description" cols="40" rows="5" name="description">{{items.description}}></textarea>
    <p>Category</p>
    <select name="categories_id">
        <option value=1>Soccer</option>
        <option value=2>Basket Ball</option>
		<option value=3>Base Ball</option>
		<option value=4>Firsbee</option>
		<option value=5>Snow Boarding</option>
		<option value=6>Rock Climbing</option>
    </select>
    <button type="submit" value="Create">Create</button>
</form>
<button class="delete-button" type="button"><a href='{{url_for('categoryList',category_id = category_id)}}'>Cancel</a></button>
</div>
</body>
</html>