
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">

</head>
<body>
<header>
 <h1>Edit Your Item</h1>
 </header>
<div class="edit-item-page">

<form action="{{url_for('editItem',title = title)}}" method='POST'>
    <p>Title:</p>
    <input class="edit-item-title" type='text' size='30' name='title' value="{{item.title }}">
    <p>Description:</p>
    <textarea class="edit-item-description" name="description" cols="40" rows="5" >{{item.description}}</textarea>
    <p>Category:</p>
    <select name="categories_name">
        <option value=1>Soccer</option>
        <option value=2>Basket Ball</option>
		<option value=3>Base Ball</option>
		<option value=4>Firsbee</option>
		<option value=5>Snow Boarding</option>
		<option value=6>Rock Climbing</option>
    </select>
    <button type="submit" value="Create">Submit</button>
</form>

</div>
</body>
</html>