<!DOCTYPE html>
<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
 <h1>Catalog App</h1>
 <p align="right">
  <button class="login-button" type="button" class="btn btn-primary btn-lg">
		<a href=#>Login</a>
            </button>
</P>
</header>
<div style="text-align:center;" >
<h2>{{itemtitle.title}}</h2>
<div>
  <p style="text-align:center;"> Description:{{itemtitle.description}}</p>
</div>
<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('editItem',title = title)}}">
				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit
				</button>
			</a>
			<a href="{{url_for('deleteItem',title = title)}}">
				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>

</div>

</body>
</html>