<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body>
<header>
 <h1>Add new Item</h1>
 <style>
      input:invalid {
        border: 2px dashed red;
      }
      input:valid {
        border: 2px solid black;
      }
</style>
 </header>
<div class="new-item-page">
<form action="{{url_for('newItem')}}" method='POST'>
    <p>Title:</p>
    <input class="add-item-title" type='text' size='30' name='title' required>
    <p>Description:</p>
    <textarea class="add-item-description" name="description" cols="40" rows="5"></textarea>
    <p>Category</p>
    <select name="categories_name">
        <option value=1 selected="selected">Soccer</option>
        <option value=2>Basket Ball</option>
		<option value=3>Base Ball</option>
		<option value=4>Firsbee</option>
		<option value=5>Snow Boarding</option>
		<option value=6>Rock Climbing</option>
    </select>
    <button type="submit" value="Create">Create</button>
	<button type="submit" value="Cancle"><a href="{{url_for('showCatalog')}}">Cancel</a></button>
</form>

</div>
</body>
</html>

